{% extends "partials/layouts/main-layout.html" %} 
{% load static %} 
{% block title %} 
{% include "partials/components/title-meta.html" with title="Clipboard" %}
{% endblock title %} 
{% block content %}
{% include "partials/components/page-heading.html" with title="Elements" subTitle="Clipboard" %}
    <!-- Start All Card -->
    <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            <div class="card">
                <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Copy From Input</h2>
                <div class="flex flex-col gap-4">
                    <input type="text" x-ref="inputField1" class="form-input" value="Hello, world!">
                    <div class="flex flex-wrap gap-4">
                        <button x-on:click="copyToClipboard('inputField1')" class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Copy</button>
                        <button x-on:click="cutToClipboard('inputField1')" class="btn bg-light border-light text-black hover:bg-light/[0.85] hover:border-light/[0.85]">Cut</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Copy form Textarea</h2>
                <div class="flex flex-col gap-4">
                    <textarea type="text" x-ref="inputField2" class="h-auto form-textarea" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</textarea>
                    <div class="flex flex-wrap gap-4">
                        <button x-on:click="copyToClipboard('inputField2')" class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Copy</button>
                        <button x-on:click="cutToClipboard('inputField2')" class="btn bg-light border-light text-black hover:bg-light/[0.85] hover:border-light/[0.85]">Cut</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Card -->
{% endblock content %}
{% block js %}
<script  src = {%static "/assets/js/pages/clipboard.init.js" %}></script>
<script src = {% static "/assets/js/main.js" %}></script>
{% endblock js %}