{% extends "partials/layouts/main-layout.html" %} 
{% load static %} 
{% block title %} 
{% include "partials/components/title-meta.html" with title="Lightbox" %}
{% endblock title %} 
{% block content %}
{% include "partials/components/page-heading.html" with title="Elements" subTitle="Lightbox" %}
    <!-- Start All Card -->
    <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
        <div class="grid grid-cols-1 gap-4">
            <div class="card">
                <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Example</h2>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
                    <a href="/static/assets/images/images-1.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-1.jpg" %} class="rounded-xl" />
                    </a>
                    <a href="/static/assets/images/images-2.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-2.jpg" %} class="rounded-xl" />
                    </a>
                    <a href="/static/assets/images/images-3.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-3.jpg" %} class="rounded-xl" />
                    </a>
                    <a href="/static/assets/images/images-4.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-4.jpg" %} class="rounded-xl" />
                    </a>
                    <a href="/static/assets/images/images-6.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-6.jpg" %} class="rounded-xl" />
                    </a>
                    <a href="/static/assets/images/images-7.jpg" data-fancybox="gallery">
                        <img src = {% static "/assets/images/images-7.jpg" %} class="rounded-xl" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Card -->
{% endblock content %}
{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<script src = {% static "/assets/libs/fancybox/js/jquery.fancybox.js" %}></script>
<script  src = {%static "/assets/js/pages/lightbox.init.js" %}></script>

<script src = {% static "/assets/js/main.js" %}></script>
{% endblock js %}