{% extends "partials/layouts/main-layout.html" %} 
{% load static %} 
{% block title %} 
{% include "partials/components/title-meta.html" with title="Validation" %}
{% endblock title %} 
{% block content %}
{% include "partials/components/page-heading.html" with title="Forms" subTitle="Validation" %} 
                <!-- Start All Card -->
                <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
                    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
                        <div class="card">
                            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Validation Wrong</h2>
                            <form class="space-y-4">
                                <div>
                                    <input type="text" placeholder="First Name" class="form-input text-danger !border-danger placeholder:text-danger" required />
                                    <p class="mt-1 text-danger">Please fill the Name</p>
                                </div>
                                <div>
                                    <input type="email" placeholder="Email Type" class="form-input" required />
                                </div>
                                <div>
                                    <input type="password" placeholder="Password" class="form-input" required />
                                </div>
                                <div>
                                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                                </div>
                                <div>
                                    <button type="submit" class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Validation Complete</h2>
                            <form class="space-y-4">
                                <div>
                                    <input type="text" placeholder="First Name" class="form-input text-success !border-success placeholder:text-success" required />
                                    <p class="mt-1 text-success">Please fill the Name</p>
                                </div>
                                <div>
                                    <input type="email" placeholder="Email Type" class="form-input" required />
                                </div>
                                <div>
                                    <input type="password" placeholder="Password" class="form-input" required />
                                </div>
                                <div>
                                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                                </div>
                                <div>
                                    <button type="submit" class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End All Card -->
{% endblock content %}
{% block js %}
<script src = {% static "/assets/js/pages/form-editor.js" %}></script>
<script src = {% static "/assets/js/main.js" %}></script>
{% endblock js %}