{% extends "partials/layouts/creative-layout.html" %} 
{% load static %} 
{% block title %} 
{% include "partials/components/title-meta.html" with title="Creative Detached" %}
{% endblock title %} 
{% block content %}
{% include "partials/components/page-heading.html" with title="Layout" subTitle="Creative Detached" %} 
    <!-- Start All Card -->
    <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)] detache-card-area">
        <div class="grid grid-cols-1 gap-4">
            <div class="gap-6 p-5 bg-white border rounded dark:bg-darklight dark:border-darkborder md:col-span-2 xl:col-span-2 border-black/10">
                <h2 class="mb-4 text-base font-semibold text-black dark:text-white/80">Card Title</h2>
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <img src = {% static "/assets/images/logo-dark.svg" %} class="mx-auto h-11 dark:hidden " alt="">
                        <img src = {% static "/assets/images/logo-light.svg" %} class="hidden mx-auto h-11 dark:block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Card -->
{% endblock content %}
{% block js %}
    <script src = {% static "/assets/js/main.js" %}></script>
{% endblock js %}