{% extends "partials/layouts/main-layout.html" %} 
{% load static %} 
{% block title %} 
{% include "partials/components/title-meta.html" with title="Starter Page" %}
{% endblock title %} 
{% block content %}
{% include "partials/components/page-heading.html" with title="Elements" subTitle="Starter Page" %}
    <!-- Start All Card -->
    <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
        <div class="grid grid-cols-1 gap-4">
            <div class="card">
                <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Card Title</h2>
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <img {% static "/assets/images/logo-dark.svg" %} class="h-12 mx-auto dark:hidden " alt="">
                        <img {% static "/assets/images/logo-light.svg" %} class="hidden h-12 mx-auto dark:block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Card -->
{% endblock content %}
{% block js %}
<script type="module" src = {% static "/assets/js/main.js" %}></script>
{% endblock js %}